@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  outline: 0;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  border-width: 0;
}
html,
body {
  color: #2E2E2E;
  font-size: 12px;
  letter-spacing: 0px;
  width: 100%;
  min-height: 100%;
  height: auto;
}
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
}
div,
p,
span,
i,
ul,
li,
dl,
dt,
dd {
  word-break: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  word-break: normal;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
img {
  max-width: 100%;
}
em, i {
  font-style: normal;
}
.article {
  padding: 0;
}
a {
  text-decoration: none;
}
a,
a:active {
  outline: none;
}
.float-clearfix {
  clear: both !important;
}
a,button {
  transition:.5s; 
  -moz-transition:.5s; 
  -webkit-transition:.5s; 
  -o-transition:.5s;
}
.float-clearfix:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.icon {
  display: inline-block;
}
.top-nav {
  width: 100%;
  background: #f4f4f4;
  position: relative;
  z-index: 10;
}
.top-nav .top-nav-box {
  max-width: 1204px;
  height: 28px;
  line-height: 28px;
  margin: 0 auto;
}
.top-nav .top-nav-box .icon-telephone {
  width: 20px;
  height: 28px;
  background: url(../images/icon/icon_02.png);
  vertical-align: top;
  margin-right: 20px;
}
.top-nav .top-nav-box .top-nav-left {
  float: left;
  padding: 0;
  margin: 0;
}
.top-nav .top-nav-box .top-nav-left li {
  float: left;
  margin-right: 25px;
}
.top-nav .top-nav-box .top-nav-left li:last-child {
  margin-right: 0;
}
.top-nav .top-nav-box .top-nav-right {
  float: right;
  padding: 0;
  margin: 0;
}
.top-nav .top-nav-box .top-nav-right li {
  float: left;
  height: 28px;
  width: 28px;
  position: relative;
  cursor: pointer;
}
.top-nav .top-nav-box .top-nav-right li .icon-weixin {
  width: 28px;
  height: 28px;
  background: url(../images/icon/icon_04.png);
  vertical-align: top;
}
.top-nav .top-nav-box .top-nav-right li .icon-weibo {
  width: 28px;
  height: 28px;
  background: url(../images/icon/icon_05.png);
  vertical-align: top;
}
.top-nav .top-nav-box .top-nav-right li .triangle {
  position: absolute;
  bottom: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  display: none;
  z-index: 5;
  overflow: hidden;
}
.top-nav .top-nav-box .top-nav-right li .triangle:before,
.top-nav .top-nav-box .top-nav-right li .triangle:after {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  width: 20px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #E5E5E5;
}
.top-nav .top-nav-box .top-nav-right li .triangle:before {
  bottom: -1px;
  left: 0px;
  right: 0px;
}
.top-nav .top-nav-box .top-nav-right li .triangle:after {
  bottom: -3px;
  border-bottom: 10px solid #fff;
}
.top-nav .top-nav-box .top-nav-right li div {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -32.5px;
  width: 65px;
  height: 65px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  overflow: hidden;
  background: #fff;
}
.top-nav .top-nav-box .top-nav-right li div img {
  display: block;
}
.top-nav .top-nav-box .top-nav-right li:hover div,
.top-nav .top-nav-box .top-nav-right li:hover .triangle {
  display: block;
}
.header-menu {
  max-width: 1204px;
  margin: 0 auto;
  padding: 10px 0;
}
.header-menu .logo {
  float: left;
  padding: 10px 0;
}
.header-menu .logo a {
  display: block;
}
.header-menu ul {
  float: right;
}
.header-menu ul li {
  float: left;
  font-size: 18px;
  margin-left: 55px;
}
.header-menu ul li:first-child {
  margin-left: 0;
  margin-right: 10px;
}
.header-menu ul li:last-child {
  margin-right: 10px;
}
.header-menu ul li:last-child a {
  color: #da251c;
}
.header-menu ul li a {
  color: #333333;
  display: block;
  position: relative;
  min-width: 75px;
  text-align: center;
  line-height: 58px;
}
.header-menu ul li.active a {
  border-bottom: 2px solid #da251c;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.footer {
  background: #333333;
  padding: 0;
}
.footer .footer-top {
  padding-top: 16px;
  max-width: 1204px;
  margin: 0 auto 23px;
}
.footer .footer-top .text {
  float: left;
}
.footer .footer-top .text li {
  float: left;
  position: relative;
  line-height: 14px;
}
.footer .footer-top .text li:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 14px;
  background: #999999;
}
.footer .footer-top .text li:last-child:after {
  display: none;
}
.footer .footer-top .text li a {
  font-size: 14px;
  display: block;
  color: #999999;
  padding: 0 7px;
}
.footer .footer-top .text li a:hover {
  color: #FFFFFF;
}
.footer .footer-top .information {
  font-size: 0;
  text-align: center;
  display: block;
}
.footer .footer-top .information li {
  display: inline-block;
  padding: 0 3%;
}
.footer .footer-top .information li img {
  display: block;
}
.footer .footer-top .information li p {
  font-size: 16px;
  line-height: 16px;
  margin-top: 16px;
  color: #fff;
}
.footer .footer-top .telephone {
  float: right;
}
.footer .footer-top .telephone p {
  font-size: 30px;
  color: #FFFfFF;
}
.footer .footer-top .telephone p span {
  font-size: 20px;
}
.footer .footer-top .telephone p:last-child {
  font-size: 54px;
}
.footer .footer-bottom {
  width: 100%;
  border-top: 1px solid #000;
}
.footer .footer-bottom > div {
  max-width: 1204px;
  margin: 0 auto;
  text-align: center;
}
.footer .footer-bottom > div div {
  width: 100%;
  font-size: 0;
}
.footer .footer-bottom > div div p {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  line-height: 28px;
  padding: 0 15px;
}
.footer .footer-bottom ul {
  font-size: 0;
  text-align: center;
}
.footer .footer-bottom ul li {
  display: inline-block;
  vertical-align: text-top;
  padding: 20px;
}
@media (max-width: 1204px) {
  .footer .footer-top .information li {
    display: inline-block;
    padding: 0 1%;
  }
  .footer .footer-top .telephone p:last-child {
    font-size: 50px;
  }
}
